<h1>TP TodoList</h1>

<form (ngSubmit) = "onSubmit(data.value)">
    <input type = "text" #data>
</form>

<button name="undo" (click) = "undo()">Undo</button>
<button name="redo" (click) = "redo()">Redo</button>

<ul *ngIf = "todoListObs | async as TDL" >
    <li *ngFor = "let item of TDL.items; trackBy: trackById">
        <input type="checkbox" name="isDone" [ngModel] = "item.isDone" (ngModelChange)="updateDone($event,item)"/>
        <input type="text" name="label" [ngModel]="item.label" (ngModelChange) = "updateLabel($event, item)"/>
        <button type="submit" name="delete" (click)="delete(item)">Supprimer</button>
    </li>
</ul>

<pre>
    {{ todoListObs | async | json }}
</pre>

